<div class="article-page">
  <div class="banner">
    @if (article) {
      <div class="container">
        <h1>{{article.title}}</h1>
        <div class="article-meta">
          <a [routerLink]="['/profiles', article.author.username]">
            <img [ngSrc]="article.author.image" width="32" height="32" />
          </a>
          <div class="info">
            <a [routerLink]="['/profiles', article.author.username]">
              {{article.author.username}}
            </a>
            <span class="date">
              {{article.createdAt}}
            </span>
          </div>
          @if (isAuthor$ | async) {
            <span>
              <a [routerLink]="['/articles', article.slug, 'edit']" class="btn btn-outline-secondary btn-sm">
                <i class="ion-edit"></i>
                Edit article
              </a>
              <button class="btn bnt-outline-danger btn-sm" (click)="deleteArticle()">
                Delete article
              </button>
            </span>
          }
        </div>
      </div>
    }
  </div>
</div>
<div class="container page">
  @if (isLoading$ | async) {
    <mc-loading></mc-loading>
  } @else if (error$ | async) {
    <mc-error-message></mc-error-message>
  } @else {
    <div class="row article-content">
      <div class="col-xs-12">
        <div>
          <p>{{article!.body}}</p>
        </div>
        <mc-tag-list [tags]="article!.tagList"></mc-tag-list>
      </div>
    </div>
  }
</div>
